<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79720848895-m6g6la8fa29l3h90135ned01h80en3qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79720848895-m6g6la8fa29l3h90135ned01h80en3qs</string>
	<key>API_KEY</key>
	<string>AIzaSyDV5NTz5X8eBH7MqXYouQD_c9GCkp6YUXE</string>
	<key>GCM_SENDER_ID</key>
	<string>79720848895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoslab.AILand</string>
	<key>PROJECT_ID</key>
	<string>ai-land-54088</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-land-54088.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79720848895:ios:8ea519af1ef622f9a25bca</string>
</dict>
</plist>